#searchFilter{
	display: block;
	margin: 0px;
	padding: 0px;
	column-width: 30ex;
	column-gap: 1ex ;
}

.filter:not(.filterActive):hover{
	background: #4a4a4f;
	background: #003706;
}

.filterActive{
	background: #058b00;
	color: #003706;
}
