/* getDoc
2019 GUILLEUS Hugues <ghugues@netc.fr>
BSD 3-Clause "New" or "Revised" License */

footer{
	margin-top: 2ex;
	text-align: center;
	font-size: smaller;
	font-style: italic;
	color: #737373;
}

footer em {
	font-style: normal;
	font-weight: bold;
}

footer time {
	font-style: normal;
}
