main#searchResult{
	display: block ;
	margin: 0px 10ex 2ex ;
}

main#searchResult article ul {
	column-width: 20ex;
	padding: 0px;
}

.lsItem{
	list-style: "";
}
.lsItem:hover{
	color: #d76e00;
}


dt{
	font-weight: bold;
}
