main#searchResult{
	display: block ;
	margin: 0px 10ex 2ex ;
}

ul.searchResult{
	display: block;
	margin: 0px;
	padding: 0px;
	column-width: 30ex;
	column-gap: 1ex ;
}

li.searchResult{
	display: block;
	margin: 0px;
}
