<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Functions et Types</title>
	<!--CODE-->
	<script src="search/search.js" defer charset="utf-8"></script>
	<script src="search/copyFileRef.js" defer charset="utf-8"></script>
	<script src="search/searchAct.js" defer charset="utf-8"></script>
</head>
<body>
	<header>
		<h1>{{ .Title }}</h1>
		<input type="search" id=searchInput placeholder="Search into the page" value="">
	</header>

	<main id="searchResult" hidden>
		<article id=lsFileArt>
			<h2>File</h2>
			<ul id=lsFileList>
				{{- range .ListFile }}
				<li class="lsItem">{{.}}</li>
				{{- end }}
			</ul>
		</article>

		<article id=lsLangArt hidden>
			<h2>Language</h2>
			<ul id=lsLangList></ul>
		</article>

		<article id=lsTypeArt hidden>
			<h2>Type</h2>
			<ul id=lsTypeAr></ul>
		</article>

		<article id=help hidden>
			<h2>Help</h2>
			<dl>
				<dt>&lt;noting&gt;</dt><dd>Affiche les éléments et les filters</dd>
				<dt>$ls</dt><dd>Liste les fichiers/...</dd>
				<dt>$help</dt><dd>Affiche ces aides</dd>
			</dl>
		</article>
	</main>

	<main id="std">
		<ul id="list">
			{{- range . }}
			<li class="element type_{{.Type}}">
				<h3 class="elementTitle">{{ .Name }}</h3>
				<div class="info">
					<div class="type">{{- .Type -}}</div>
					<div class="fileRef">{{- .FileName }}:{{ .LineNum -}}</div>
					<div class="lang">{{- .Lang -}}</div>
				</div>
				{{- range .Comment }}
				<p class="comment">{{.}}</p>
				{{- end }}
			</li>
			{{- end }}
		</ul>
	</main>

	<footer>Generated by <em>getDoc</em> the <time datetime="{{.HumainDate}}">{{.HumainDate}}</time></footer>
</body>
</html>
